USE [TrendyolSuperLigDB]
GO
/****** Object:  Table [dbo].[COACHES]    Script Date: 26.11.2025 01:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COACHES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[Surname] [nvarchar](30) NOT NULL,
	[Nationality_ID] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COUNTRIES]    Script Date: 26.11.2025 01:09:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COUNTRIES](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[CountryName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FOOTBALL_PLAYERS]    Script Date: 26.11.2025 01:09:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FOOTBALL_PLAYERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[Surname] [nvarchar](30) NOT NULL,
	[Team_ID] [int] NULL,
	[Country_ID] [smallint] NULL,
	[Position_ID] [int] NULL,
	[KitNumber] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICENCE_TYPES]    Script Date: 26.11.2025 01:09:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICENCE_TYPES](
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[LicenceName] [nvarchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATCH_EVENTS]    Script Date: 26.11.2025 01:09:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATCH_EVENTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Match_ID] [int] NULL,
	[Player_ID] [int] NULL,
	[EventType] [nvarchar](25) NULL,
	[Minute] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATCHES]    Script Date: 26.11.2025 01:09:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATCHES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Season_ID] [int] NULL,
	[Round_ID] [int] NULL,
	[HomeTeamID] [int] NULL,
	[AwayTeamID] [int] NULL,
	[RefereeID] [smallint] NULL,
	[Stadium_ID] [int] NULL,
	[HomeScore] [tinyint] NULL,
	[AwayScore] [tinyint] NULL,
	[MatchDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POSITIONS]    Script Date: 26.11.2025 01:09:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POSITIONS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PositionName] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REFEREES]    Script Date: 26.11.2025 01:09:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REFEREES](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[Surname] [nvarchar](30) NOT NULL,
	[Licence_ID] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROUNDS]    Script Date: 26.11.2025 01:09:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROUNDS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Season_ID] [int] NULL,
	[RoundName] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEASONS]    Script Date: 26.11.2025 01:09:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEASONS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SeasonName] [nvarchar](50) NOT NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STADIUMS]    Script Date: 26.11.2025 01:09:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STADIUMS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StadiumName] [nvarchar](75) NOT NULL,
	[Capacity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STANDINGS]    Script Date: 26.11.2025 01:09:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STANDINGS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Team_ID] [int] NULL,
	[Season_ID] [int] NULL,
	[Played] [tinyint] NULL,
	[Won] [tinyint] NULL,
	[Drawn] [tinyint] NULL,
	[Lost] [tinyint] NULL,
	[GoalsScored] [smallint] NULL,
	[GoalsConceded] [smallint] NULL,
	[Points] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEAMS]    Script Date: 26.11.2025 01:09:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEAMS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TeamName] [nvarchar](50) NOT NULL,
	[Stadium_ID] [int] NULL,
	[Coach_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANSFER_TYPES]    Script Date: 26.11.2025 01:09:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSFER_TYPES](
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANSFERS]    Script Date: 26.11.2025 01:09:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSFERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Player_ID] [int] NULL,
	[FromTeam_ID] [int] NULL,
	[ToTeam_ID] [int] NULL,
	[TransferType_ID] [tinyint] NULL,
	[TransferDate] [date] NULL,
	[Fee] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[COACHES] ON 

INSERT [dbo].[COACHES] ([ID], [Name], [Surname], [Nationality_ID]) VALUES (1, N'Okan', N'Buruk', 1)
INSERT [dbo].[COACHES] ([ID], [Name], [Surname], [Nationality_ID]) VALUES (2, N'Domenico', N'Tedesco', 13)
INSERT [dbo].[COACHES] ([ID], [Name], [Surname], [Nationality_ID]) VALUES (3, N'Sergen', N'Yalçın', 1)
SET IDENTITY_INSERT [dbo].[COACHES] OFF
GO
SET IDENTITY_INSERT [dbo].[COUNTRIES] ON 

INSERT [dbo].[COUNTRIES] ([ID], [CountryName]) VALUES (1, N'Türkiye')
INSERT [dbo].[COUNTRIES] ([ID], [CountryName]) VALUES (2, N'Romanya')
INSERT [dbo].[COUNTRIES] ([ID], [CountryName]) VALUES (3, N'Macaristan')
SET IDENTITY_INSERT [dbo].[COUNTRIES] OFF
GO
SET IDENTITY_INSERT [dbo].[FOOTBALL_PLAYERS] ON 

INSERT [dbo].[FOOTBALL_PLAYERS] ([ID], [Name], [Surname], [Team_ID], [Country_ID], [Position_ID], [KitNumber]) VALUES (1, N'Uğurcan', N'Çakır', 1, 1, 1, 1)
INSERT [dbo].[FOOTBALL_PLAYERS] ([ID], [Name], [Surname], [Team_ID], [Country_ID], [Position_ID], [KitNumber]) VALUES (2, N'Victor James', N'Osimhen', 1, 4, 10, 45)
INSERT [dbo].[FOOTBALL_PLAYERS] ([ID], [Name], [Surname], [Team_ID], [Country_ID], [Position_ID], [KitNumber]) VALUES (3, N'Anderson', N'Talisca', 2, 7, 7, 94)
SET IDENTITY_INSERT [dbo].[FOOTBALL_PLAYERS] OFF
GO
SET IDENTITY_INSERT [dbo].[LICENCE_TYPES] ON 

INSERT [dbo].[LICENCE_TYPES] ([ID], [LicenceName]) VALUES (1, N'FIFA Kokartlı')
INSERT [dbo].[LICENCE_TYPES] ([ID], [LicenceName]) VALUES (2, N'Süper Lig Hakemi')
SET IDENTITY_INSERT [dbo].[LICENCE_TYPES] OFF
GO
SET IDENTITY_INSERT [dbo].[MATCH_EVENTS] ON 

INSERT [dbo].[MATCH_EVENTS] ([ID], [Match_ID], [Player_ID], [EventType], [Minute]) VALUES (1, NULL, 8, N'Gol', 10)
INSERT [dbo].[MATCH_EVENTS] ([ID], [Match_ID], [Player_ID], [EventType], [Minute]) VALUES (2, NULL, 23, N'Sarı Kart', 35)
INSERT [dbo].[MATCH_EVENTS] ([ID], [Match_ID], [Player_ID], [EventType], [Minute]) VALUES (3, NULL, 24, N'Gol', 60)
SET IDENTITY_INSERT [dbo].[MATCH_EVENTS] OFF
GO
SET IDENTITY_INSERT [dbo].[MATCHES] ON 

INSERT [dbo].[MATCHES] ([ID], [Season_ID], [Round_ID], [HomeTeamID], [AwayTeamID], [RefereeID], [Stadium_ID], [HomeScore], [AwayScore], [MatchDate]) VALUES (4, 2, 1, 1, 2, 1, 1, 2, 1, CAST(N'2024-05-19T19:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[MATCHES] OFF
GO
SET IDENTITY_INSERT [dbo].[POSITIONS] ON 

INSERT [dbo].[POSITIONS] ([ID], [PositionName]) VALUES (1, N'Kaleci')
INSERT [dbo].[POSITIONS] ([ID], [PositionName]) VALUES (2, N'Sağ Bek')
INSERT [dbo].[POSITIONS] ([ID], [PositionName]) VALUES (3, N'Sol Bek')
SET IDENTITY_INSERT [dbo].[POSITIONS] OFF
GO
SET IDENTITY_INSERT [dbo].[REFEREES] ON 

INSERT [dbo].[REFEREES] ([ID], [Name], [Surname], [Licence_ID]) VALUES (1, N'Halil Umut', N'Meler', 1)
INSERT [dbo].[REFEREES] ([ID], [Name], [Surname], [Licence_ID]) VALUES (2, N'Arda', N'Kardeşler', 1)
INSERT [dbo].[REFEREES] ([ID], [Name], [Surname], [Licence_ID]) VALUES (3, N'Volkan', N'Bayarslan', 2)
SET IDENTITY_INSERT [dbo].[REFEREES] OFF
GO
SET IDENTITY_INSERT [dbo].[ROUNDS] ON 

INSERT [dbo].[ROUNDS] ([ID], [Season_ID], [RoundName]) VALUES (1, 2, N'37. Hafta')
SET IDENTITY_INSERT [dbo].[ROUNDS] OFF
GO
SET IDENTITY_INSERT [dbo].[SEASONS] ON 

INSERT [dbo].[SEASONS] ([ID], [SeasonName], [StartDate], [EndDate]) VALUES (2, N'Mehmet Ali Yılmaz Sezonu', CAST(N'2025-08-08' AS Date), CAST(N'2026-06-04' AS Date))
INSERT [dbo].[SEASONS] ([ID], [SeasonName], [StartDate], [EndDate]) VALUES (4, N'Şamil Ekinci Sezonu', CAST(N'2024-08-06' AS Date), CAST(N'2025-06-10' AS Date))
SET IDENTITY_INSERT [dbo].[SEASONS] OFF
GO
SET IDENTITY_INSERT [dbo].[STADIUMS] ON 

INSERT [dbo].[STADIUMS] ([ID], [StadiumName], [Capacity]) VALUES (1, N'Rams Park', 52600)
INSERT [dbo].[STADIUMS] ([ID], [StadiumName], [Capacity]) VALUES (2, N'Şükrü Saraçoğlu Stadyumu', 47834)
INSERT [dbo].[STADIUMS] ([ID], [StadiumName], [Capacity]) VALUES (3, N'Tüpraş Stadyumu', 42445)
SET IDENTITY_INSERT [dbo].[STADIUMS] OFF
GO
SET IDENTITY_INSERT [dbo].[STANDINGS] ON 

INSERT [dbo].[STANDINGS] ([ID], [Team_ID], [Season_ID], [Played], [Won], [Drawn], [Lost], [GoalsScored], [GoalsConceded], [Points]) VALUES (1, 1, 2, 38, 33, 3, 2, 92, 26, 102)
INSERT [dbo].[STANDINGS] ([ID], [Team_ID], [Season_ID], [Played], [Won], [Drawn], [Lost], [GoalsScored], [GoalsConceded], [Points]) VALUES (2, 2, 2, 38, 31, 6, 1, 99, 31, 99)
INSERT [dbo].[STANDINGS] ([ID], [Team_ID], [Season_ID], [Played], [Won], [Drawn], [Lost], [GoalsScored], [GoalsConceded], [Points]) VALUES (3, 3, 2, 38, 16, 8, 14, 52, 47, 56)
SET IDENTITY_INSERT [dbo].[STANDINGS] OFF
GO
SET IDENTITY_INSERT [dbo].[TEAMS] ON 

INSERT [dbo].[TEAMS] ([ID], [TeamName], [Stadium_ID], [Coach_ID]) VALUES (1, N'Galatasaray', 1, 1)
INSERT [dbo].[TEAMS] ([ID], [TeamName], [Stadium_ID], [Coach_ID]) VALUES (2, N'Fenerbahçe', 2, 2)
INSERT [dbo].[TEAMS] ([ID], [TeamName], [Stadium_ID], [Coach_ID]) VALUES (3, N'Beşiktaş', 3, 3)
SET IDENTITY_INSERT [dbo].[TEAMS] OFF
GO
ALTER TABLE [dbo].[MATCHES] ADD  DEFAULT ((0)) FOR [HomeScore]
GO
ALTER TABLE [dbo].[MATCHES] ADD  DEFAULT ((0)) FOR [AwayScore]
GO
ALTER TABLE [dbo].[STANDINGS] ADD  DEFAULT ((0)) FOR [Played]
GO
ALTER TABLE [dbo].[STANDINGS] ADD  DEFAULT ((0)) FOR [Won]
GO
ALTER TABLE [dbo].[STANDINGS] ADD  DEFAULT ((0)) FOR [Drawn]
GO
ALTER TABLE [dbo].[STANDINGS] ADD  DEFAULT ((0)) FOR [Lost]
GO
ALTER TABLE [dbo].[STANDINGS] ADD  DEFAULT ((0)) FOR [GoalsScored]
GO
ALTER TABLE [dbo].[STANDINGS] ADD  DEFAULT ((0)) FOR [GoalsConceded]
GO
ALTER TABLE [dbo].[STANDINGS] ADD  DEFAULT ((0)) FOR [Points]
GO
ALTER TABLE [dbo].[FOOTBALL_PLAYERS]  WITH CHECK ADD FOREIGN KEY([Country_ID])
REFERENCES [dbo].[COUNTRIES] ([ID])
GO
ALTER TABLE [dbo].[FOOTBALL_PLAYERS]  WITH CHECK ADD FOREIGN KEY([Position_ID])
REFERENCES [dbo].[POSITIONS] ([ID])
GO
ALTER TABLE [dbo].[FOOTBALL_PLAYERS]  WITH CHECK ADD FOREIGN KEY([Team_ID])
REFERENCES [dbo].[TEAMS] ([ID])
GO
ALTER TABLE [dbo].[MATCH_EVENTS]  WITH CHECK ADD FOREIGN KEY([Match_ID])
REFERENCES [dbo].[MATCHES] ([ID])
GO
ALTER TABLE [dbo].[MATCH_EVENTS]  WITH CHECK ADD FOREIGN KEY([Player_ID])
REFERENCES [dbo].[FOOTBALL_PLAYERS] ([ID])
GO
ALTER TABLE [dbo].[MATCHES]  WITH CHECK ADD FOREIGN KEY([AwayTeamID])
REFERENCES [dbo].[TEAMS] ([ID])
GO
ALTER TABLE [dbo].[MATCHES]  WITH CHECK ADD FOREIGN KEY([HomeTeamID])
REFERENCES [dbo].[TEAMS] ([ID])
GO
ALTER TABLE [dbo].[MATCHES]  WITH CHECK ADD FOREIGN KEY([RefereeID])
REFERENCES [dbo].[REFEREES] ([ID])
GO
ALTER TABLE [dbo].[MATCHES]  WITH CHECK ADD FOREIGN KEY([Round_ID])
REFERENCES [dbo].[ROUNDS] ([ID])
GO
ALTER TABLE [dbo].[MATCHES]  WITH CHECK ADD FOREIGN KEY([Season_ID])
REFERENCES [dbo].[SEASONS] ([ID])
GO
ALTER TABLE [dbo].[MATCHES]  WITH CHECK ADD FOREIGN KEY([Stadium_ID])
REFERENCES [dbo].[STADIUMS] ([ID])
GO
ALTER TABLE [dbo].[REFEREES]  WITH CHECK ADD FOREIGN KEY([Licence_ID])
REFERENCES [dbo].[LICENCE_TYPES] ([ID])
GO
ALTER TABLE [dbo].[STANDINGS]  WITH CHECK ADD FOREIGN KEY([Season_ID])
REFERENCES [dbo].[SEASONS] ([ID])
GO
ALTER TABLE [dbo].[STANDINGS]  WITH CHECK ADD FOREIGN KEY([Team_ID])
REFERENCES [dbo].[TEAMS] ([ID])
GO
ALTER TABLE [dbo].[TEAMS]  WITH CHECK ADD FOREIGN KEY([Coach_ID])
REFERENCES [dbo].[COACHES] ([ID])
GO
ALTER TABLE [dbo].[TEAMS]  WITH CHECK ADD FOREIGN KEY([Stadium_ID])
REFERENCES [dbo].[STADIUMS] ([ID])
GO
ALTER TABLE [dbo].[TRANSFERS]  WITH CHECK ADD FOREIGN KEY([FromTeam_ID])
REFERENCES [dbo].[TEAMS] ([ID])
GO
ALTER TABLE [dbo].[TRANSFERS]  WITH CHECK ADD FOREIGN KEY([Player_ID])
REFERENCES [dbo].[FOOTBALL_PLAYERS] ([ID])
GO
ALTER TABLE [dbo].[TRANSFERS]  WITH CHECK ADD FOREIGN KEY([ToTeam_ID])
REFERENCES [dbo].[TEAMS] ([ID])
GO
ALTER TABLE [dbo].[TRANSFERS]  WITH CHECK ADD FOREIGN KEY([TransferType_ID])
REFERENCES [dbo].[TRANSFER_TYPES] ([ID])
GO
